:root {
  --whats-app-green: #00ad8a;
  --whats-app-white: #fafafa;
  --whats-app-dark-bg: #090e11;
  --whats-app-light-gray: #262d31;
  --whats-app-dark-gray: #131c21;
  --send-message-bg: #33383b;
  --my-message: #054740;
  --other-message: #262d31;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--whats-app-dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  min-width: 80vw;
  max-width: 1300px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--whats-app-light-gray);
}

/*
Colors 
*/
